@import "../../index.styl"

$inp-font-size =  1.6em;
$inp-border-color = $grey; 
$light-border-width = 1px;
$strong-border-width = 2px;

.ld-inp
  border: $light-border-width solid $inp-border-color;
  background-color: transparent;
  outline: 0;
  height: 2.3em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: $inp-font-size;
  padding: 0.5em;

  &:hover, &:focus, &:invalid
    border-width: $strong-border-width;
  
  &:invalid
    border-color: red;

  &[type='email']
    direction: ltr;
    min-width: 25rem;
  
  &::placeholder
    color: $grey;
  