 @import "../../index.styl"

$btn-font-size =  1.6em;
$btn-border-color = $grey;
$btn-hover-color = white;

.ld-button
  border: 3px solid $btn-border-color;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s
  height: 100%;
  width: 100%;
  font-size: $btn-font-size;
  box-sizing: border-box;

  &:hover, &:focus
    background-color: $btn-border-color;
    color: $btn-hover-color;

  &:active
    background-color: darken($btn-border-color, 30%)
    border-color: darken($btn-border-color, 30%)