@import "../../index.styl"

$new-font-size =  1.6em;

.ld-newsletter-wrapper
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2em 0.5rem 1fr
  direction: rtl;

  title
    grid-row 1
    display inline
    padding-right 0.5em
    font-size: $new-font-size

.ld-newsletter
  grid-row 3
  display: flex;
  direction: rtl;
  height: 100%;
  width: 100%;
  box-sizing border-box

  .ld-inp
    margin-left: 1rem;

    &:hover, &:focus, &:invalid
      border-width: 3px;