@import "../../index.styl"

.album
  padding 3vh 15vw
  overflow-y: auto;
  overflow-x: hidden;
  text-align center

  h1
    font-size x-large
  
  & > hr:first-of-type
    margin-top 2.5vh
    margin-bottom 2.5vh

  section
    display grid
    grid-template-columns 25vw 5vw 1fr
    
    img
      grid-column 1
      width 25vw
    
    *[role="album content"]
      grid-column 3
      padding 5%

      hr
        margin 1em 0

    ul
      list-style none
      font-size: medium;

      li
        margin-bottom 2em

        &:after
          content: '\0020';
          display: block;
          overflow: hidden;
          visibility: hidden;
          width: 0;
          height: 0;
          clear: both;

        h2.right
          font-size large
          float right 
          display block
          margin 0

          span
            display inline-block

        span.left
          float left 
          display block

          span
            display inline-block

    *[role="song number"]
      width 1em
      margin-left: 0.5em;

    span[role="links"]
      button
        font-size medium
        margin-right 1em
        border 0
        color: inherit;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        transition color 0.4s ease 0s
        box-sizing: border-box;

        &:hover, &.selected
          color $pink

        &:focus
          outline: -webkit-focus-ring-color auto 1px;

        &:active
          color darken($pink, 30%)
