@import "../../index.styl"

.ld-social-nav
  align-items: center;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  & > *
    justify-self: center;

  svg
    fill $font-color
    transition fill 0.4s ease 0s

    &:hover
      fill $pink

    &:active
      fill darken($pink, 30%)