@import "../../index.styl"

$article-font-size = 2em;

.letter
  padding 5vh 20vw
  overflow-y: auto;
  overflow-x: hidden;

  h2
    color black
    text-align: center;

  article > *
    color black
    font-size $article-font-size