@import "../../index.styl"

$nav-font-size =  1.6em;

.ld-main-nav
  align-items: center;
  display: grid;
  width: 100%
  height: 100%
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  direction rtl
  
  & > *
    justify-self: center;

  a
    text-decoration none
    color white
    font-size $nav-font-size
    font-weight: bold;
    transition color 0.4s ease 0s

    &:hover, &.selected
      color $pink

    &:active
      color darken($pink, 30%)