@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$font-family = 'Rubik', sans-serif;
$dark-grey = rgba(59, 59, 59, 1);
$font-color = white;
$grey = grey
$pink = #e39ca4

$dark = #000000;
$white = #ffffff;
$pink = #e39ca4;
$dark-grey = rgba(59, 59, 59, 1);
$grey = grey;
$red = red
$screen-xs-max = 520px
$screen-sm-min = 520px
$screen-sm-max = 768px
$screen-md-min = 768px
$screen-md-max = 1200px
$screen-lg-min = 1200px

  
*
  font-family: $font-family;

body, #root, .app
  height 100%

html
  height: 100%
  width: 100%

  body
    margin 0
    direction: rtl;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    .app
      display flex
      flex-direction column

  header
    width: 100%;
    display flex
    justify-content: space-between;
    padding: 0.7rem;
    box-sizing: border-box;

    svg
      height 1rem

  main
    flex-grow 1
    overflow-y: auto;
    overflow-x: hidden;

  footer 
    width: 100%;
    direction rtl
    font-size 1rem
    display flex
    justify-content: space-around;
    align-items: center;
    padding 0.7rem 0

    svg
      height 2rem

.input
  background-color: transparent;
  outline: 0;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid $grey;
  color inherit
  height 2rem
  font-size medium

  &:hover, &:focus, &:invalid
    border-width: 2px;
  
  &:invalid
    border-color: $red;

  &[type='email']
    direction: ltr;
    min-width: 15rem;

.button
  background-color: transparent;
  box-sizing: content-box;
  border: 3px solid $grey;
  color inherit
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s
  font-size: medium;

  &:hover
    background-color: $grey;

  &:active
    background-color: darken($grey, 30%)
    border-color: darken($grey, 30%)


.bg-dark
  background-color $dark
  color $white

  svg
    fill $white

    &:hover
      fill $pink

    &:active
      fill darken($pink, 30%)

  .link
    &:hover, &.selected
      color $pink

    &:active
      color darken($pink, 30%)


.bg-light
  background-color $white
  color $dark

  .link
    &:hover, &.selected
      color $pink

    &:active
      color darken($pink, 30%)

.link
  text-decoration none
  transition color 0.4s ease 0s
  color inherit
  justify-self center

svg
  transition fill 0.4s ease 0s

nav
  display block

button
  cursor: pointer;

.navbar:not(.overlay)
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
  padding 1rem 20%
  font-size large
  width 100%


.navbar.overlay
  z-index: 98;
  display: grid;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: x-large;
  height: 100%;
  width: 100%;
  grid-template-rows repeat(12, 1fr)
  

  .link:nth-child(1)
    grid-row 4
  .link:nth-child(2)
    grid-row  5
  .link:nth-child(3)
    grid-row  6
  .link:nth-child(4)
    grid-row  7
  .link:nth-child(5)
    grid-row  8
  .link:nth-child(6)
    grid-row  9

header, footer
  z-index 99

.form-inline
  display: flex;
  flex-flow: column;

.social-nav
  flex-basis 40%
  display: flex;
  justify-content: space-between;

.form-label
  padding-right 0.5rem

.newsletter
  display flex
  flex-direction column

.menu-btn
  background-color transparent
  border 0
  transition: all .2s ease-in-out;

.home
  text-align center
  margin 1rem
  display: flex;
  flex-direction: column;

  article
    overflow: hidden;
    flex-grow 1

.textual-page
  text-align: center;
  margin: 1rem;
  align-self: center;
  max-width: 50em;

  article
    font-size: larger;

.music
  text-align: center;
  margin: 1rem;

  article
    display: flex;
    flex-direction: column;
    align-items: center;

  section
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width 1200px

  ul
    list-style none
    padding 0
    max-width 500px
    width 100%

    li
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: smaller;

      *[role="song number"]
        width 1em
        margin-left: 0.5em;

      span[role="links"]
        button
          font-size medium
          margin-right 1em
          border 0
          color: inherit;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          transition color 0.4s ease 0s
          box-sizing: border-box;

          &:hover, &.selected
            color $pink

          &:focus
            outline: -webkit-focus-ring-color auto 1px;

          &:active
            color darken($pink, 30%)
  .img
    width 100%
    max-width 500px


.dialog
  display block

  .dialog-window
    display inline-block
    position fixed
    top 50%
    right 50%
    transform translate(50%, -50%)
    z-index 101
    height 60vh
    width 60vw

    & > *
      height 100%
      width  100%

  .dialog-mask
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    background black
    opacity 0.6
    overflow hidden
    z-index 100

  button
    display: inline-block;
    border 0
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 102;
    /* height: 16px; */
    /* width: 16px; */
    background-color: transparent;
    margin-top: -32vh;
    margin-right: -29vw;

    svg
      fill white

@media (min-width: $screen-lg-min)
  .music 
    section
      flex-direction row-reverse
      justify-content: space-around;

@media (min-width: $screen-md-min)
  header
    justify-content center

@media (min-width: $screen-sm-min)
  .form-inline
    display: flex;
    flex-flow: row wrap;

    .button
      margin-right 0.5rem
      width: 9rem;
  
  .textual-page
    margin 1rem 10%

@media (max-width: $screen-xs-max)
  .form-inline > input
    margin-bottom 0.5rem
